In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("/home/crdamke/Documentos/Python/app/app_falhas/processed_sensor_data.csv")
df.head()

,timestamp,temp,hum,ppm,kwh,watt,pwf,rssi,ppf1,ppf2,ppf3,ppf4,dim1,dim2,dim3,dim4
0,2024-03-08 00:00:07,24.2,75.266667,1802.111111,0.0,0.0,0.0,-68.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2024-03-08 00:00:17,24.1,77.466667,1799.888889,0.0,0.0,0.0,-65.444444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2024-03-08 00:00:27,24.1,78.966667,1797.555556,0.0,0.0,0.0,-66.888889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2024-03-08 00:00:37,24.1,80.477778,1797.111111,0.0,0.0,0.0,-67.777778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2024-03-08 00:00:47,24.1,81.811111,1798.000000,0.0,0.0,0.0,-66.444444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")

In [22]:
df.head()

,timestamp,temp,hum,ppm,kwh,watt,pwf,rssi,ppf1,ppf2,ppf3,ppf4,dim1,dim2,dim3,dim4
0,2024-03-08 00:00:07,24.2,75.266667,1802.111111,0.0,0.0,0.0,-68.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2024-03-08 00:00:17,24.1,77.466667,1799.888889,0.0,0.0,0.0,-65.444444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2024-03-08 00:00:27,24.1,78.966667,1797.555556,0.0,0.0,0.0,-66.888889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2024-03-08 00:00:37,24.1,80.477778,1797.111111,0.0,0.0,0.0,-67.777778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2024-03-08 00:00:47,24.1,81.811111,1798.000000,0.0,0.0,0.0,-66.444444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
df = df.sort_values("timestamp").reset_index(drop=True)

In [24]:
df_intervalos = pd.DataFrame()

In [25]:
df_intervalos['timestamp'] = df['timestamp']
df_intervalos.head()

            timestamp
0 2024-03-08 00:00:07
1 2024-03-08 00:00:17
2 2024-03-08 00:00:27
3 2024-03-08 00:00:37
4 2024-03-08 00:00:47

In [26]:
df_intervalos['delta'] = df_intervalos['timestamp'].diff().dt.total_seconds().fillna(0)
df_intervalos.head()

            timestamp  delta
0 2024-03-08 00:00:07    0.0
1 2024-03-08 00:00:17   10.0
2 2024-03-08 00:00:27   10.0
3 2024-03-08 00:00:37   10.0
4 2024-03-08 00:00:47   10.0

In [27]:
num_linhas = len(df_intervalos)
num_linhas2 = len(df_intervalos['delta'])
num_linhas, num_linhas2

(62792, 62792)

In [28]:
for i in range(num_linhas):
    if df_intervalos['delta'][i] > 10:
        print(f"Intervalo maior que 10 segundos encontrado na linha {i}, delta: {df_intervalos.loc[i, 'delta']} segundos")

Intervalo maior que 10 segundos encontrado na linha 5074, delta: 60.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5081, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5089, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5091, delta: 30.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5112, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5130, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5131, delta: 70.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5282, delta: 40.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5630, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 11279, delta: 60.0 segundos
Intervalo maior que 10 segundos encontrado na linha 11351, delta: 30.0 segundos
Intervalo maior que 10 segundos encontrado na linha 11483, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 11484, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 11498, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 13068, delta: 30.0 segundos
Intervalo maior que 10 segundos encontrado na linha 31299, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 33567, delta: 70.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38012, delta: 190.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38013, delta: 100.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38038, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38040, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38043, delta: 30.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38044, delta: 90.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38054, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38055, delta: 60.0 segundos
Intervalo maior que 10 segundos encontrado na linha 46350, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 47962, delta: 30.0 segundos
Intervalo maior que 10 segundos encontrado na linha 48652, delta: 40.0 segundos
Intervalo maior que 10 segundos encontrado na linha 54640, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 56532, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 56680, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 56755, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 56834, delta: 40.0 segundos
Intervalo maior que 10 segundos encontrado na linha 56839, delta: 30.0 segundos

In [18]:
df_intervalos[8618:8623]

               timestamp      delta
8618 2024-08-03 23:59:57       10.0
8619 2024-09-03 00:00:07  2592010.0
8620 2024-09-03 00:00:17       10.0
8621 2024-09-03 00:00:27       10.0
8622 2024-09-03 00:00:37       10.0