In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("/home/crdamke/Documentos/Python/app/app_falhas/dados_unificados.csv")
df.head()

             timestamp  temp       umid  ppf1
0  2024-03-08 00:00:07  24.2  75.266667   0.0
1  2024-03-08 00:00:17  24.1  77.466667   0.0
2  2024-03-08 00:00:27  24.1  78.966667   0.0
3  2024-03-08 00:00:37  24.1  80.477778   0.0
4  2024-03-08 00:00:47  24.1  81.811111   0.0

In [27]:
df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")

In [28]:
df.head()

            timestamp  temp       umid  ppf1
0 2024-03-08 00:00:07  24.2  75.266667   0.0
1 2024-03-08 00:00:17  24.1  77.466667   0.0
2 2024-03-08 00:00:27  24.1  78.966667   0.0
3 2024-03-08 00:00:37  24.1  80.477778   0.0
4 2024-03-08 00:00:47  24.1  81.811111   0.0

In [29]:
df = df.sort_values("timestamp").reset_index(drop=True)
df.head()

            timestamp  temp       umid  ppf1
0 2024-03-08 00:00:07  24.2  75.266667   0.0
1 2024-03-08 00:00:17  24.1  77.466667   0.0
2 2024-03-08 00:00:27  24.1  78.966667   0.0
3 2024-03-08 00:00:37  24.1  80.477778   0.0
4 2024-03-08 00:00:47  24.1  81.811111   0.0

In [30]:
df_copy = df.copy()
df_copy.head()

            timestamp  temp       umid  ppf1
0 2024-03-08 00:00:07  24.2  75.266667   0.0
1 2024-03-08 00:00:17  24.1  77.466667   0.0
2 2024-03-08 00:00:27  24.1  78.966667   0.0
3 2024-03-08 00:00:37  24.1  80.477778   0.0
4 2024-03-08 00:00:47  24.1  81.811111   0.0

In [31]:
df_copy['delta'] = df_copy['timestamp'].diff().dt.total_seconds().fillna(0)
df_copy.head()

            timestamp  temp       umid  ppf1  delta
0 2024-03-08 00:00:07  24.2  75.266667   0.0    0.0
1 2024-03-08 00:00:17  24.1  77.466667   0.0   10.0
2 2024-03-08 00:00:27  24.1  78.966667   0.0   10.0
3 2024-03-08 00:00:37  24.1  80.477778   0.0   10.0
4 2024-03-08 00:00:47  24.1  81.811111   0.0   10.0

In [32]:
linhas_vazias = df_copy[df_copy['delta'] > 10]
linhas_vazias

                timestamp       temp       umid        ppf1  delta
5074  2024-03-08 14:06:37  24.640580  87.826087  245.841356   60.0
5081  2024-03-08 14:07:57  25.293103  75.134483  250.080000   20.0
5089  2024-03-08 14:09:27  24.886207  54.531034  250.080000   20.0
5091  2024-03-08 14:10:07  24.637931  50.875862  250.080000   30.0
5112  2024-03-08 14:13:47  24.610345  85.403448  250.080000   20.0
5130  2024-03-08 14:16:57  25.300000  84.236842  250.080000   20.0
5131  2024-03-08 14:18:07  24.898551  78.195652  246.455652   70.0
5282  2024-03-08 14:43:47  24.933333  88.551282  250.080000   40.0
5630  2024-03-08 15:41:57  25.300000  89.347368  250.080000   20.0
11279 2024-03-09 07:24:17  23.333333  53.127536  237.364068   60.0
11351 2024-03-09 07:36:37  24.624138  87.810345  250.080000   30.0
11483 2024-03-09 07:58:47  25.252632  79.047368  250.080000   20.0
11484 2024-03-09 07:59:07  25.200000  75.326316  250.080000   20.0
11498 2024-03-09 08:01:37  24.484211  50.415789  250.080000   20.0
13068 2024-03-09 12:23:37  24.412245  87.261224  241.456552   30.0
31299 2024-03-11 15:02:17  25.294737  72.084211  250.080000   20.0
33567 2024-03-11 21:21:17  23.079710  89.210145    0.000000   70.0
38012 2024-03-12 09:45:07  24.200000  73.200000  250.080000  190.0
38013 2024-03-12 09:46:47  23.466667  70.981818  242.501818  100.0
38038 2024-03-12 09:51:07  24.578947  57.247368  250.080000   20.0
38040 2024-03-12 09:51:37  24.379310  59.624138  250.080000   20.0
38043 2024-03-12 09:52:27        NaN        NaN  250.080000   30.0
38044 2024-03-12 09:53:57  24.104202  69.640336  247.270112   90.0
38054 2024-03-12 09:55:47  24.800000  91.400000  250.080000   20.0
38055 2024-03-12 09:56:47  24.383051  89.869492  245.841356   60.0
46350 2024-03-13 08:59:27  25.293103  91.241379  250.080000   20.0
47962 2024-03-13 13:28:27  24.555172  56.203448  250.080000   30.0
48652 2024-03-13 15:23:57  23.412245  80.842857  237.255385   40.0
54640 2024-03-14 08:02:07  24.389474  64.900000  250.080000   20.0
56532 2024-03-14 13:17:37  24.300000  74.579310  250.080000   20.0
56680 2024-03-14 13:42:27  25.200000  73.600000  250.080000   20.0
56755 2024-03-14 13:55:07  24.300000  79.058621  250.080000   20.0
56834 2024-03-14 14:08:47  23.828205  89.230769  237.255385   40.0
56839 2024-03-14 14:09:57  25.262069  77.779310  250.080000   30.0

In [33]:
intervalos_falhas = []
tempo_inicio = df_copy['timestamp'].min()
tempo_inicio

Timestamp('2024-03-08 00:00:07')

In [38]:
# Calcular a diferença em horas desde o início até cada linha com falha
intervalos_desde_inicio = (linhas_vazias['timestamp'] - tempo_inicio).dt.total_seconds() / 3600
intervalos = intervalos_desde_inicio.tolist()
intervalos

[14.108333333333333,
 14.130555555555556,
 14.155555555555555,
 14.166666666666666,
 14.227777777777778,
 14.280555555555555,
 14.3,
 14.727777777777778,
 15.697222222222223,
 31.40277777777778,
 31.608333333333334,
 31.977777777777778,
 31.983333333333334,
 32.025,
 36.391666666666666,
 87.03611111111111,
 93.35277777777777,
 105.75,
 105.77777777777777,
 105.85,
 105.85833333333333,
 105.87222222222222,
 105.89722222222223,
 105.92777777777778,
 105.94444444444444,
 128.98888888888888,
 133.47222222222223,
 135.3972222222222,
 152.03333333333333,
 157.29166666666666,
 157.70555555555555,
 157.91666666666666,
 158.14444444444445,
 158.1638888888889]

In [24]:
linhas_vazias.to_csv("/home/crdamke/Documentos/Python/app/app_falhas/linhas_vazias.csv", index=False)

In [16]:
# Cria um DataFrame vazio para armazenar os intervalos
df_intervalos = pd.DataFrame()

In [17]:
# Adiciona a coluna 'timestamp' ao DataFrame de intervalos
df_intervalos['timestamp'] = df['timestamp']
df_intervalos.head()

            timestamp
0 2024-03-08 00:00:07
1 2024-03-08 00:00:17
2 2024-03-08 00:00:27
3 2024-03-08 00:00:37
4 2024-03-08 00:00:47

In [10]:
df_intervalos['temp'] = df['temp']
df_intervalos.head()

            timestamp  temp
0 2024-03-08 00:00:07  24.2
1 2024-03-08 00:00:17  24.1
2 2024-03-08 00:00:27  24.1
3 2024-03-08 00:00:37  24.1
4 2024-03-08 00:00:47  24.1

In [ ]:
# Calcula a diferença de tempo entre timestamps consecutivos em segundos
df_intervalos['delta'] = df_intervalos['timestamp'].diff().dt.total_seconds().fillna(0)
df_intervalos.head()

            timestamp  delta
0 2024-03-08 00:00:07    0.0
1 2024-03-08 00:00:17   10.0
2 2024-03-08 00:00:27   10.0
3 2024-03-08 00:00:37   10.0
4 2024-03-08 00:00:47   10.0

In [27]:
num_linhas = len(df_intervalos)
num_linhas2 = len(df_intervalos['delta'])
num_linhas, num_linhas2

(62792, 62792)

In [28]:
for i in range(num_linhas):
    if df_intervalos['delta'][i] > 10:
        print(f"Intervalo maior que 10 segundos encontrado na linha {i}, delta: {df_intervalos.loc[i, 'delta']} segundos")

Intervalo maior que 10 segundos encontrado na linha 5074, delta: 60.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5081, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5089, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5091, delta: 30.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5112, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5130, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5131, delta: 70.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5282, delta: 40.0 segundos
Intervalo maior que 10 segundos encontrado na linha 5630, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 11279, delta: 60.0 segundos
Intervalo maior que 10 segundos encontrado na linha 11351, delta: 30.0 segundos
Intervalo maior que 10 segundos encontrado na linha 11483, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 11484, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 11498, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 13068, delta: 30.0 segundos
Intervalo maior que 10 segundos encontrado na linha 31299, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 33567, delta: 70.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38012, delta: 190.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38013, delta: 100.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38038, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38040, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38043, delta: 30.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38044, delta: 90.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38054, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 38055, delta: 60.0 segundos
Intervalo maior que 10 segundos encontrado na linha 46350, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 47962, delta: 30.0 segundos
Intervalo maior que 10 segundos encontrado na linha 48652, delta: 40.0 segundos
Intervalo maior que 10 segundos encontrado na linha 54640, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 56532, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 56680, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 56755, delta: 20.0 segundos
Intervalo maior que 10 segundos encontrado na linha 56834, delta: 40.0 segundos
Intervalo maior que 10 segundos encontrado na linha 56839, delta: 30.0 segundos

In [18]:
df_intervalos[8618:8623]

               timestamp      delta
8618 2024-08-03 23:59:57       10.0
8619 2024-09-03 00:00:07  2592010.0
8620 2024-09-03 00:00:17       10.0
8621 2024-09-03 00:00:27       10.0
8622 2024-09-03 00:00:37       10.0